  .ilike-blue-container {
  	@extend .blue, .lighten-4;
  	} /*For background colors, you can apply the color simply by extending the classes like the example below.*/

  	.ilike-blue-container {
  		@extend .blue-text, .text-lighten-4;
  		} /*For changing text color, you can apply the color simply by extending the classes like the example below.*/

  		.size-fonts {
  			text-align: center;
  			font-size: 5.9vw;
  			color: #bcaaa4;
  			font-family: Times, serif;
  		}

  		body {
  			background-color: #efebe9;
  		}

  		.modal-content {
  			display: grid;
  		}

  		.modal-heading {
  			font-family: Times;
  		}

  		.parallax-img {
  			width: 10vw;
  			filter: grayscale(100%);
  		}

  		.material-icons{
  			font-size: 64px;
  		}

  		.tortai-atgal,
  		.pyragai-atgal,
  		.sausainiai-atgal {
  			position: absolute;
  			top: 50%;
  			left: -2px;
  			background-color: transparent;
  			border-style: none;
  		}

  		.tortai-atgal:hover,
  		.pyragai-atgal:hover,
  		.sausainiai-atgal:hover {
  			position: absolute;
  			top: 50%;
  			left: -6px;
  			background-color: transparent;
  			border-style: none;
  		}

  		.tortai-pirmyn,
  		.pyragai-pirmyn,
  		.sausainiai-pirmyn {
  			position: absolute;
  			top: 50%;
  			right: -2px;
  			background-color: transparent;
  			border-style: none;
  		}

  		.tortai-pirmyn:hover,
  		.pyragai-pirmyn:hover,
  		.sausainiai-pirmyn:hover {
  			position: absolute;
  			top: 50%;
  			right: -6px;
  			background-color: transparent;
  			border-style: none;
  		}

  		.card-panel {
  			position: relative;
  			background-color: transparent;
  			padding-right: 60px;
  			padding-left: 60px;
  		}

  		.tortai-img, 
  		.pyragai-img,
  		.sausainiai-img {
  			max-height: 600px;
  			border-radius: 25px;
  			padding-left: 10px;
  			padding-right: 10px;
  		}


  		.slick-next::before {
  			content: "";
  		}

  		.slick-prev:before {
  			content: '';
  		}

  		.header {
  			display: flex;
  			justify-content: center;
  			background-color: #efebe9;
  		}
  		.header_logo {
  		}
  		.logo_mine {
  			height: 200px;
  		}

  		@media screen and (max-width: 992px) {
  			.logo_mine {
  				height: 150px;
  			}
  		}

  		@media screen and (max-width: 600px) {
  			.logo_mine {
  				height: 115px;
  			}
  		}
  		.icons_posision_fixed{
  			position: fixed;
  			justify-content: left;
  			background-color: none;
  		}


  		.social-icon {
  		}

  		.social-icon {
  		}


  		.icons_posision {
  		}
  		.icons_mine {
  			height: 45px;
  		}
  		@media screen and (max-width: 992px) {
  			.icons_mine {
  				height: 25px;
  			}
  		}

  		@media screen and (max-width: 600px) {
  			.icons_mine {
  				height: 15px;
  			}
  		}

/*
  		.parallax-container.para-lax{
  			height: 600px;
  			filter: grayscale(100%);
  		}


  		@media screen and (max-width: 992px) {
  			.parallax-container.para-lax{
  				height: 300px;
  				filter: grayscale(100%);
  			}
  		}

  		@media screen and (max-width: 600px) {
  			.parallax-container.para-lax{
  				height: 150px;
  				filter: grayscale(100%);
  			}
  		}*/